html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Playfair Display', serif;
}

.page-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: auto;
    height: 100%;
}

.page-top,
.page-bottom {
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.page-top {
    background: #fff;
}

.page-bottom {
    background: #000;
    color: #e5e5e5;
}

.page-top-item,
.page-bottom-item {
    flex-grow: 1;
    text-align: center;
    padding: 2px;
}

.page-top-item a,
.page-top-item i {
    color: #999;
    padding: 2px 10px;
    transition: color 0.5s ease-in;
}

.page-top-item a:hover,
.page-top-item i:hover {
    color: #333;
}

.script {
    font-family: 'Great Vibes', cursive;
    letter-spacing: 0.5px;
}

.catch-phrase {
    font-size: 18px;
    letter-spacing: 0.5px;
    padding-top: 15px;
}

.name {
    color: #2D7F24;
    font-size: 40px;
    padding-top: 25px;
    border-top: 4px solid #2D7F24;
}
