html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.macbook-air {
    flex-direction: row;
    margin: 30px 10px;
    background-image: url(../images/mbair13.svg);
    background-size: 80% 80%;
    background-position: top center;
    background-repeat: no-repeat;
    min-width: 450px;
    min-height: 350px;
}

.padded-row {
    padding: 25px;
}

.page-container {
    min-width: 270px;
    min-height: 550px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.heading {
    background: #000;
    color: #fff;
}

.grey {
    background: #f5f5e5;
}

.page-container .macbook-air {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
}

.page-inner-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.catch-phrase {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.script {
    align-self: center;
    font-family: 'Great Vibes', cursive;
    font-size: 3.5em;
    color: greenyellow;
    opacity: 0.8;
}

.links-projects {
    font-family: 'Dosis', sans-serif;
    font-size: 0.875em;
    color: #999;
    letter-spacing: 1.1px;
    padding-top: 15px;
}

.page-inner-content.links-projects a {
    font-size: 1.2em;
}

.links-projects a,
.links-general a {
    font-family: 'Dosis', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 0.5px;
    text-decoration: none;
    margin: 0 15px;
    padding: 6px 0;
    color: #000;
    border-bottom: 1px solid transparent;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.links-projects a:hover,
.links-general a:hover {
    opacity: 1;
    border-bottom: 1px dashed #000;
}

.fa-2x {
    font-size: 1.6em;
}

.fa {
    color: #000;
    margin: 0 25px;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.fa:hover {
    opacity: 1;
}

@media (max-height: 1024px) {
    .macbook-air {
        background-size: 95% 95%;
        min-width: 350px;
        min-height: 200px;
    }
}

@media (max-height: 700px) {
    .macbook-air {
        background-size: 95% 95%;
        min-width: 200px;
        min-height: 150px;
    }
}

@media (max-width: 1024px) {
    .script {
        font-size: 3em;
    }
}

@media (max-width: 960px) {
    .script {
        font-size: 2.25em;
    }
}

@media (max-width: 640px) {
    .script {
        font-size: 1.6em;
    }
}

@media (max-width: 380px) {
    .script {
        font-size: 1.2em;
    }
}
